@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Poppins&display=swap');
@import url('https://fonts.cdnfonts.com/css/porter-sans-block');

/*parte geral da pagina*/
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Atualizar a img de fundo depois, a img atual não fica boa*/
 body {
    background-image: url();  
    background-size: cover; 
    background-position: center center;  
    background-repeat: no-repeat;  
    margin: 0;  
    height: 100vh;

 }







/*Para colocar o corpo da pagina todo de uma unica cor, e na mesma fonte*/
body {
    background-color: #DEDDDD   ;
}



/*Parte do cabeçalho na pagina*/
header {
    background-color: #DEDDDD;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px; 
    box-shadow: 0px 0px 1px 1px #D96C4E;
    
    
}
nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    font-weight: 400;
    font-style: normal;
    align-items: flex-start;
    gap: 7rem  ;
    margin: 2rem;
    margin-right: 12rem;
}
.botao-iniciar{
    background-color:  #D96C4E;
    border-width: 0.1rem;
    border-radius: 10%;
    width: 150%;
    font-family: 'Poppins', sans-serif;
    font-size: medium;
}
nav ul a { 
    color: #2a2a2a;
    font-weight:600;
    text-decoration: none;
}

nav ul :hover{ /*quando passa o mouse por cima ele fica diferent*/
    text-decoration:underline;
    text-decoration-color: #7D090B;
    text-decoration-thickness: 3px; 
}


/*parte do meio Main texto*/

#apresentacao {
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    padding: 80px;
}

#apresentacao h1 {
    align-items: center; 
    font-size: 25px;
    text-align: end;
    margin-right: 20px; 
    font-weight:400;
}
#apresentacao strong {
    font-size: 32px;

}
/*parte do meio Main img*/
.logo-bookflix {
    align-items: flex-start; 

}

.logo-home h1 {
    font-size: 40px !important;
    font-family: 'Porter Sans Block', sans-serif;
    color: #7D090B;
    margin: 20px;
    text-shadow: 3px 3px 5px rgba(83, 0, 0, 0.315);
}


/*Parte Destaque Pagina*/


#destaques h2 {
    font-family: "Poppins", sans-serif;
    margin: 50px;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #363636;
}

.livros {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 30px;
}

.livro {
    width: 150px;
    text-align: center;
}

.livro img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.estrelas {
    margin-top: 10px;
    width: 100%;
    height: auto;
}

.estrelas i {
    color: #2a2a2a;
    font-size: 12px;
}


/*ajusta pag pequena -- em teste 
*/

@media (max-width: 834px) {
    #apresentacao {
        flex-direction: column-reverse;
        align-items: center;
    }
}

@media (max-width: 700px) {
    .livros { 
        flex-direction: column;
        align-items: center;
    }

    #apresentacao {
        flex-direction: column-reverse;
        align-items: center;
    }
}