main {
    background-color: #DEDDDD;
}
#Login-page{

    display:flex;
    padding: 100px;
    margin: 0 auto;
    width: 900px;
    height: 800px;
    

}
.login{
    text-align: center;
    background: linear-gradient(90deg, #753A2A, #9F5C4B,  #cf7961);
    width: 350px;
    height: 450px;
    border-radius: 20px 0px 0px 20px;
   
}
.login h2 {
    text-align: center;
    color: #ffffff;
    margin-top: 48px;
    font-size: 30px;
    margin-left: 35px;
    margin-right: 35px;
}

.login p {
    color: #ffffff;
    font-size: 18px;
    margin-top: 48px;
    margin-left: 35px;
    margin-right: 35px;
    margin-bottom: 48px;
}

.login .btn-log {
    width: 100%;
    border: none;
    width: 180px;
    height: 25px;
    color: #D96C4E;
    font-weight:600;
    border-radius: 7px;
    background-color: #09374d;
    cursor: pointer;
    text-align: center;
    margin-top: 50px;

}


.cadastro {
    background: linear-gradient(90deg,  #8a8a8a, #7a7a7a, #6a6a6a);
    width: 350px;
    height: 450px;
    border-radius: 0px 20px 20px 0px;
}

.cadastro h2 {
    color: #000000;
    margin-top: 48px;
    font-size: 28px;
    text-align: center;
    margin-left: 35px;
    margin-right: 35px;
    margin-bottom: 40px;
}


label {
    font-size: 14px;
    color: #0F3F55;
    font-weight: bold;
    margin-left: 14px;
    
}

input {
    background-color: #cfcfcf;
    width: 280px;
    height: 30px;
    border-radius: 8px;
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 6px;
    margin-bottom: 6px;

}


.cadastro .btn-log {
    margin: 80px;
    margin-bottom: 0px;
    border: none;
    width: 180px;
    height: 25px;
    color: #D96C4E;
    font-weight:600;
    border-radius: 7px;
    background-color: #09374d;
    cursor: pointer;
    text-align: center;
    margin-top: 40px;

}


.btn-log:hover {
    transform: scale(1.05);
    background-color: #072533;
   
    
}
