@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Poppins&display=swap');

* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


/*-------------------------- GERAL -  BUSCA -------------------------------------*/

/* Barra de busca */
.buscar {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 1px;
    background-color: #DEDDDD;
}

/* Barra de busca - input */
.buscar-input {
    width: 100%;
    max-width: 500px; /* Ajuste para telas pequenas */
    height: 40px;
    border: none;
    border-radius: 5px 0 0 5px;
    padding-left: 10px;
    font-size: 16px;
}

/* Barra de busca - botão */
.buscar-button {
    width: 50px;
    height: 40px;
    border: none;
    background: #67656e;
    color: white;
    font-size: 20px;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buscar-button:hover {
    transform: scale(1.02);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.buscar-button:active {
    color: #fcf6f6; 
    transform: scale(0.95);
}

/*-------------------------- GERAL -  MENU  (barra lanraja)----------------------------------*/


.menu {
    background-color: #D96C4E;
    display: flex;
    align-items: center;
    flex-wrap: wrap; /* pro menu se reorganize em telas pequenas e não quebrar */
}

/* Menu - lista de itens */
.menu ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-weight: 400;
    gap: 50px;
    margin: 8px;
}

/*os links*/
.menu ul li a {
    color: #3b3b3b;
    font-weight: 600;
    text-decoration: none;
}

.menu ul li a:hover {
    color: #000000;
}


@media (max-width: 835px) {
    .menu ul {
        flex-direction: column; 
        align-items: center;
        gap: 30px; 
        font-size: 20px; 
    }
}