@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

 








/*alterações na pagina SOBRE*/
#bloco-sobre{
justify-content: space-around;
align-items: center;
display: flex;
}
#bloco-equipe{
margin-left: 110px;

}
#equipe { 
display: flex;
justify-content: space-around;
align-items: flex-start;
margin-left: -100px;
}
/*---------------------------------------*/
footer {
    background: linear-gradient(90deg, #733929, #D96C4E);
    color: white;
    padding: 10px 0;
    font-family: 'Poppins', sans-serif;
}

 
.footer-bloco {
    display: flex;
    flex-direction: row;  
    align-items: center;
    justify-content:space-between;
    max-width: 1300px;
    margin-inline: auto;   
}


.footer-coluna h4 {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: medium;
}


.footer-coluna ul li {
    margin-bottom: 5px;
}

.footer-coluna ul li a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.footer-coluna ul li a:hover {
    text-decoration:underline;
}

.redes-sociais {
    display: flex;
    gap: 10px;  
}

.redes-sociais a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.redes-sociais a:hover {
    color: #140e64;  
}

.footer-footer {
    text-align:center;
    font-size: 14px;
    margin: 20px;
}
